* { background: #fff; }
body { font-family: "Microsoft YaHei", sans-serif, georgia, times, serif; color: black; }
blockquote { font-style: italic; color: black; }
a:link, a:visited { border-bottom-width: 1px; border-bottom-style: solid; }
